<p>
  signup works!
</p>

<form [formGroup]="signupForm" novalidate (ngSubmit)="doSignup(signupForm.value, signupForm.valid)">
  <input type="text" name="firstName" placeholder="First Name" formControlName="firstName">
  <input type="text" name="lastName" placeholder="Last Name" formControlName="lastName">
  <input type="email" name="email" placeholder="Email" formControlName="email">
  <input type="password" name="password" placeholder="Password" formControlName="password">
  <button type="submit">Create Account</button>
</form>

<button (click)="doLogout()">Logout</button>
